//*--------------------------------------------------------------------------*/
// レイアウトの設定
//*--------------------------------------------------------------------------*/
$global-width: 1020px;
$global-space: 30px;


$board-padding: 50px;
$board-border-radius: 5px;

$header-height: 80px;



//*--------------------------------------------------------------------------*/
// 画像の設定
//*--------------------------------------------------------------------------*/
$img-branding: "../img/TEDx_logo_place_RGB_CS2ml.png";
$img-main-image: "../img/theme.jpg";

$img-tedx: "../img/tedx.png";

$img-bp: "../img/bp.png";

$img-plane: "../img/plane.png";

$img-totop: "../img/totop.png";

$img-loading: "../img/loading.gif";
$img-loading-w: "../img/loading_w.gif";


/*---*/
$img-bg-top: "../img/bg/event.jpg";

/*---*/
$img-twitter: "../img/twitter.png";
$img-facebook: "../img/facebook.png";
$img-play: "../img/play.png";
$img-play-on: "../img/play_on.png";

/*---*/
$img-m-organizer: "../img/m-orgzr.png";
$img-m-design: "../img/m-design.png";
$img-m-manager: "../img/m-mngr.png";
$img-m-operation: "../img/m-oprn.png";
$img-m-speaker: "../img/m-spkr.png";
$img-m-sponsor: "../img/m-spnr.png";

//*--------------------------------------------------------------------------*/
// 設定
//*--------------------------------------------------------------------------*/

//*--------------------------------------------------------------------------*/
// 設定
//*--------------------------------------------------------------------------*/
